# Order from Chaos

In [1]:
# from bokeh.plotting import figure, output_file, show
import gzip
import io
import pandas as pd
import urllib.request

%matplotlib inline

import matplotlib # plotting
import matplotlib.pyplot as plt

import sqlite3

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

## Three Worlds in One

### Normal Python

In [2]:
# unmodified python
x = 'HELLO'
x.lower()

'hello'

In [3]:
# print first two letters
x[0:2]

'HE'

### Pandas

In [4]:
# pandas is very good at handling rows and columns
ramphs = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/roman-amphitheaters.csv")
chronogrps = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/chronogrps.csv")

In [5]:
# print the first two rows of ramphs
ramphs[0:2] # this is just like string indexing

,id,title,label,pleiades,welch,golvin,type,capacity,modcountry,province,...,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,1000.0,Syria,syria,...,severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,20000.0,France,narbonensis,...,flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21

In [6]:
# print the first two rows as lower case
ramphs.modcountry.str.lower()[0:2]

0     syria
1    france
Name: modcountry, dtype: object

In [7]:
# but note we haven't changed the column itself
ramphs.modcountry[0:2]

0     Syria
1    France
Name: modcountry, dtype: object

### sqlite

In [8]:
# Now into sqlite
# create the database
ramphs_sql = sqlite3.connect(":memory:")

# ramphs_sql is a python variable that gives access to the sqlite database

In [9]:
# add ramphs and chronogrps tables to the sqlite database
ramphs.to_sql('ramphs',ramphs_sql,if_exists = "replace")
chronogrps.to_sql('chronogrps',ramphs_sql,if_exists = "replace")

In [43]:
# Non pandas way of accessing tables in the database
# create cur as a variable with methods that let us send queries to the sqlite database
cur = ramphs_sql.cursor()

# cur has an .execute method
cur.execute("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'")
for i in cur.fetchall():
    print(i)

# it is good practice to close a cursor when you're done with it
cur.close()
# the output is not very nicely formatted

('arlesAmphitheater', 'France')
('lyonAmphitheater', 'France')
('parisAmphitheater', 'France')
('nimesAmphitheater', 'France')
('gennesAmphitheater', 'France')
('bordeauxAmphitheater', 'France')
('cimiezAmphitheater', 'France')
('perigueuxAmphitheater', 'France')
('saintesAmphitheater', 'France')
('frejusAmphitheater', 'France')
('toulouseAmphitheater', 'France')
('lillebonnAmphitheater', 'France')
('besanconAmphitheater', 'France')
('limogesAmphitheater', 'France')
('poitiersAmphitheater', 'France')
('reimsAmphitheater', 'France')
('rodezAmphitheater', 'France')
('beziersAmphitheater', 'France')
('agenAmphitheater', 'France')
('narbonneAmphitheater', 'France')
('amiensAmphitheater', 'France')
('meauxAmphitheater', 'France')
('chartresAmphitheater', 'France')
('senlisAmphitheater', 'France')
('toursAmphitheater', 'France')
('autunAmphitheater', 'France')
('stMarcelAmphitheater', 'France')
('metzAmphitheater', 'France')
('grandHalfAmphitheater', 'France')
('bourgesAmphitheater', 'France')
('chassenonAmphitheater', 'France')
('drevantAmphitheater', 'France')
('montbouyGalloRomanAmphitheater', 'France')
('aquaeNeriAmphitheater', 'France')
('aleriaAmphitheater', 'France')

In [44]:
# it's simpler with pandas
pd.read_sql_query("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'", ramphs_sql)
# a single line produces useful result

                                id modcountry
0                arlesAmphitheater     France
1                 lyonAmphitheater     France
2                parisAmphitheater     France
3                nimesAmphitheater     France
4               gennesAmphitheater     France
5             bordeauxAmphitheater     France
6               cimiezAmphitheater     France
7            perigueuxAmphitheater     France
8              saintesAmphitheater     France
9               frejusAmphitheater     France
10            toulouseAmphitheater     France
11           lillebonnAmphitheater     France
12            besanconAmphitheater     France
13             limogesAmphitheater     France
14            poitiersAmphitheater     France
15               reimsAmphitheater     France
16               rodezAmphitheater     France
17             beziersAmphitheater     France
18                agenAmphitheater     France
19            narbonneAmphitheater     France
20              amiensAmphitheater     France
21               meauxAmphitheater     France
22            chartresAmphitheater     France
23              senlisAmphitheater     France
24               toursAmphitheater     France
25               autunAmphitheater     France
26            stMarcelAmphitheater     France
27                metzAmphitheater     France
28           grandHalfAmphitheater     France
29             bourgesAmphitheater     France
30           chassenonAmphitheater     France
31             drevantAmphitheater     France
32  montbouyGalloRomanAmphitheater     France
33           aquaeNeriAmphitheater     France
34              aleriaAmphitheater     France

## Joining Tables

In [45]:
# edit this to list the numeric start date of every amphitheater. 
# once you get basic query add an ORDER BY statement to sort by that date.
# note that I've '?'s in the WHERE clause. That's what you need to change.
# we did this in class so I think this will seem familiar
df = pd.read_sql_query('''SELECT ramphs.id, chronogrps.start
    FROM ramphs, chronogrps
    WHERE ramphs.chronogrp = chronogrps.chronogrp
    ORDER by chronogrps.start
    ''',ramphs_sql)
df

                                  id  start
0                pompeiiAmphitheater    -70
1                  cumaeAmphitheater    -70
2          pozzuoliEarlyAmphitheater    -70
3                paestumAmphitheater    -70
4                 avellaAmphitheater    -70
5                ferentoAmphitheater    -70
6                sutriumAmphitheater    -70
7                telesiaAmphitheater    -70
8                antiochAmphitheater    -70
9              beneventoAmphitheater    -70
10          calviRisortaAmphitheater    -70
11       capuaRepublicanAmphitheater    -70
12               liternoAmphitheater    -70
13                  noleAmphitheater    -70
14                 teanoAmphitheater    -70
15          suessaAruncaAmphitheater    -70
16            altripaldaAmphitheater    -70
17                compsaAmphitheater    -70
18               corinthAmphitheater    -49
19               carmonaAmphitheater    -49
20                espejoAmphitheater    -49
21                meridaAmphitheater    -27
22            conimbrigaAmphitheater    -27
23              syracuseAmphitheater    -27
24               roselleAmphitheater    -27
25                luceraAmphitheater    -27
26                cimiezAmphitheater    -27
27                veronaAmphitheater    -27
28            albaFucensAmphitheater    -27
29             cherchellAmphitheater    -27
..                               ...    ...
230              chemtouAmphitheater    100
231       genzanoPrivateAmphitheater    100
232            ainHedjahAmphitheater    100
233                uticaAmphitheater    100
234             tebourbaAmphitheater    100
235      hencherElKasbatAmphitheater    100
236        hencherZembraAmphitheater    100
237               botriaAmphitheater    100
238              portusOvalStructure    100
239          mesarafeltaAmphitheater    100
240         tigavaCastraAmphitheater    100
241             tusculumAmphitheater    100
242  aureliumCommodianumAmphitheater    100
243         hadrianVillaAmphitheater    117
244             gemellaeAmphitheater    117
245                toursAmphitheater    117
246               riminiAmphitheater    117
247                augstAmphitheater    150
248               tipasaAmphitheater    150
249           bullaRegiaAmphitheater    150
250          duraEuroposAmphitheater    193
251       romeAmphitheatrumCastrense    193
252        marcianopolisAmphitheater    193
253              bararusAmphitheater    193
254         castraAlbanaAmphitheater    193
255            grandHalfAmphitheater    200
256              egnaziaAmphitheater    200
257             thysdrusAmphitheater    235
258               sophiaAmphitheater    235
259          aphrodisiasAmphitheater    300

[260 rows x 2 columns]

In [61]:
# we ran this query in class
# edit it so it does different things
df = pd.read_sql_query('''SELECT ramphs.id, ramphs.modcountry, chronogrps.start
    FROM ramphs, chronogrps
    WHERE ramphs.chronogrp = chronogrps.chronogrp and ramphs.modcountry = "France"
       AND chronogrps.start > 100
    ORDER BY chronogrps.start
    ''',ramphs_sql)
df

                      id modcountry  start
0      toursAmphitheater     France    117
1  grandHalfAmphitheater     France    200

## Adding Pleiades so we have a lot of data to work with

In [80]:
# get pleiades data
# this transfer takes a while so only execute this cell as necessary
response = urllib.request.urlopen("http://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz")
pleiades = pd.read_csv(io.BytesIO(gzip.decompress(response.read())))

In [81]:
# you can always repeat this cell to reload the pleiades table
pleiades.to_sql('pleiades',ramphs_sql,if_exists = "replace")

In [82]:
# this was where things got whacky in class
cur = ramphs_sql.cursor()
# let's use direct access to the sqlite database to update the pleiades sqlite table
cur.execute("UPDATE pleiades SET path = 'https://pleiades.stoa.org'||path")
cur.close()

# what did we just do? Briefly...
# The '||' combines two string together. The UPDATE command of SQL can change values in all rows of a column

In [83]:
# test that it worked
pd.read_sql_query("SELECT path FROM pleiades LIMIT 5", ramphs_sql)

                                        path
0  https://pleiades.stoa.org/places/48210385
1  https://pleiades.stoa.org/places/48210386
2    https://pleiades.stoa.org/places/265876
3    https://pleiades.stoa.org/places/265877
4    https://pleiades.stoa.org/places/265878

In [85]:
# find amphitheaters in "Pleiades Roman only" sites
# now ramphs.pleiades shares values with pleiades.path
# we ran this query in class

pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path and pleiades.timePeriods = 'R'
        ORDER BY ramphs.province;''', ramphs_sql)
# this is where we ended in class

                           id timePeriods
0               zagaroloLudus           R
1            metzAmphitheater           R
2     tomen-y-murAmphitheater           R
3        newsteadAmphitheater           R
4           miciaAmphitheater           R
5      porolissumAmphitheater           R
6   sarmizegetusaAmphitheater           R
7        arnsburgAmphitheater           R
8        bobadelaAmphitheater           R
9    tigavaCastraAmphitheater           R
10        dambachAmphitheater           R

In [87]:
# your intermediate task: edit the following sql so that the chronogrps.start
# column is added to the output.
# That will mean your pulling data from three tables

# HINT: you need to make a change to the SELECT clause, to the FROM clause, and to the WHERE clauses
# but it's the WHERE clause that does the work. Remember, I stressed you can
# add multiple "AND"s. 
pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path 
          AND ramphs.chronogrp = chronogrps.chronogrp
          ORDER by chronogrps.start ;''', ramphs_sql)


# MORE HINTS BUT DON"T READ THESE UNTIL YOU'VE TRIED TO DO TASK ON YOUR OWN
# What is the column you need to add to the SELECT clause?
# What is the table you need to add to the FROM clause?
# You need a new " AND ..." 'subclause' of the WHERE clause. One that joins ramphs and chronogrps. We've done this already

                                  id                  timePeriods  start
0                pompeiiAmphitheater                       ACHHRM    -70
1                  cumaeAmphitheater                        ACHRL    -70
2          pozzuoliEarlyAmphitheater                      ACHRRLM    -70
3                paestumAmphitheater                      ACHRLMM    -70
4                 avellaAmphitheater                          HRL    -70
5                ferentoAmphitheater                         CHRL    -70
6                sutriumAmphitheater                         CHRL    -70
7                telesiaAmphitheater                          HRL    -70
8                antiochAmphitheater  M1AHHRRRTLLPCEASMRCCIOE1LMM    -70
9              beneventoAmphitheater                        HRLMM    -70
10          calviRisortaAmphitheater                         CHRL    -70
11       capuaRepublicanAmphitheater                        ACHRL    -70
12               liternoAmphitheater                         HHRR    -70
13                  noleAmphitheater                        ACHRL    -70
14                 teanoAmphitheater                       ACHRLM    -70
15          suessaAruncaAmphitheater                        ACHRL    -70
16            altripaldaAmphitheater                          HRL    -70
17                compsaAmphitheater                         CRRL    -70
18               corinthAmphitheater                        ACHRM    -49
19               carmonaAmphitheater                      ACHRLMM    -49
20                espejoAmphitheater                           HR    -49
21                meridaAmphitheater                          RLM    -27
22            conimbrigaAmphitheater                        ACHRL    -27
23              syracuseAmphitheater                      ACHHRLM    -27
24               roselleAmphitheater                       ACHRLM    -27
25                luceraAmphitheater                       CHRLMM    -27
26                cimiezAmphitheater                         HRLM    -27
27                veronaAmphitheater                           RL    -27
28            albaFucensAmphitheater                         HRLM    -27
29             cherchellAmphitheater                       CHRRLM    -27
..                               ...                          ...    ...
230              chemtouAmphitheater                        HRRLM    100
231       genzanoPrivateAmphitheater                           RL    100
232            ainHedjahAmphitheater                           RL    100
233                uticaAmphitheater                       ACHHRL    100
234             tebourbaAmphitheater                         HRLM    100
235      hencherElKasbatAmphitheater                          HRL    100
236        hencherZembraAmphitheater                          HRL    100
237               botriaAmphitheater                          HRL    100
238              portusOvalStructure                          RLM    100
239          mesarafeltaAmphitheater                           RL    100
240         tigavaCastraAmphitheater                            R    100
241             tusculumAmphitheater                       ACHRLM    100
242  aureliumCommodianumAmphitheater                           RL    100
243         hadrianVillaAmphitheater                          HRL    117
244             gemellaeAmphitheater                           RL    117
245                toursAmphitheater                          RLM    117
246               riminiAmphitheater                         CHRL    117
247                augstAmphitheater                         HRLM    150
248               tipasaAmphitheater                        CHRRL    150
249           bullaRegiaAmphitheater                         HRRL    150
250          duraEuroposAmphitheater                          HRL    193
251       romeAmphitheatrumCastrense                       ACHRLM    193
252        marcianopolisAmphitheater                           RL    193
253              bararusAmphitheater                           RL    193
254         castraAlbanaAmphitheater                          RRL    193
255            grandHalfAmphitheater                          RLM    200
256              egnaziaAmphitheater                        ACHRL    200
257             thysdrusAmphitheater                        HRRLM    235
258               sophiaAmphitheater                          RLM    235
259          aphrodisiasAmphitheater                         CHRL    300

[260 rows x 3 columns]

In [88]:
# YOUR ASSIGNMENT is either
# 1) Adapt the above SELECT query to do something like:
# "Find all amphitheaters in Italy from sites that Pleiades thinks were founded before 323 BC. Order by earliest date of the amphitheater." 
# Hint: Use the pleiades.minDate column
# Then make some variations on that theme
# OR
# 2) load your own data and write SELECT queries that join tables on common values.

# Add this edited iPyton notebook to your github repository and put a link to it in the Google Doc

In [89]:
pd.read_sql_query('''SELECT  ramphs.modcountry, pleiades.timePeriods, ramphs.id, pleiades.minDate, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path AND ramphs.modcountry = "Italy" 
          AND ramphs.chronogrp = chronogrps.chronogrp
          ORDER by chronogrps.start, pleiades.minDate > 323 ;''', ramphs_sql)

    modcountry timePeriods                              id  minDate  start
0        Italy      ACHHRM             pompeiiAmphitheater   -750.0    -70
1        Italy       ACHRL               cumaeAmphitheater   -750.0    -70
2        Italy     ACHRRLM       pozzuoliEarlyAmphitheater   -750.0    -70
3        Italy     ACHRLMM             paestumAmphitheater   -750.0    -70
4        Italy         HRL              avellaAmphitheater   -330.0    -70
5        Italy        CHRL             ferentoAmphitheater   -550.0    -70
6        Italy        CHRL             sutriumAmphitheater   -550.0    -70
7        Italy         HRL             telesiaAmphitheater   -330.0    -70
8        Italy       HRLMM           beneventoAmphitheater   -330.0    -70
9        Italy        CHRL        calviRisortaAmphitheater   -550.0    -70
10       Italy       ACHRL     capuaRepublicanAmphitheater   -750.0    -70
11       Italy        HHRR             liternoAmphitheater   -330.0    -70
12       Italy       ACHRL                noleAmphitheater   -750.0    -70
13       Italy      ACHRLM               teanoAmphitheater   -750.0    -70
14       Italy       ACHRL        suessaAruncaAmphitheater   -750.0    -70
15       Italy         HRL          altripaldaAmphitheater   -330.0    -70
16       Italy        CRRL              compsaAmphitheater   -550.0    -70
17       Italy     ACHHRLM            syracuseAmphitheater   -750.0    -27
18       Italy      ACHRLM             roselleAmphitheater   -750.0    -27
19       Italy      CHRLMM              luceraAmphitheater   -550.0    -27
20       Italy          RL              veronaAmphitheater    -30.0    -27
21       Italy        HRLM          albaFucensAmphitheater   -330.0    -27
22       Italy     ACHRRLM               paduaAmphitheater   -750.0    -27
23       Italy        CHRL              anconaAmphitheater   -550.0    -27
24       Italy      ACHRLM     statiliusTaurusAmphitheater   -750.0    -27
25       Italy         HRL  augustaBagiennorumAmphitheater   -330.0    -27
26       Italy         RLM               aostaAmphitheater    -30.0    -27
27       Italy         HRL         faleriiNoviAmphitheater   -330.0    -27
28       Italy        HRRL             velleiaAmphitheater   -330.0    -27
29       Italy         HRL            faleroneAmphitheater   -330.0    -27
..         ...         ...                             ...      ...    ...
73       Italy       HRRLM             spoletoAmphitheater   -330.0     50
74       Italy      ACHRLM               fermoAmphitheater   -750.0     50
75       Italy        HRLM           frosinoneAmphitheater   -330.0     50
76       Italy        ACHR               ruggeAmphitheater   -750.0     50
77       Italy      ACHRRL              canosaAmphitheater   -750.0     50
78       Italy         HRM             sipontoAmphitheater   -330.0     50
79       Italy       CHRLM              chietiAmphitheater   -550.0     50
80       Italy        CHRL               vastoAmphitheater   -550.0     50
81       Italy         HRL               suasaAmphitheater   -330.0     50
82       Italy         RRL            pollenzoAmphitheater    -30.0     50
83       Italy       CHRLM            vercelliAmphitheater   -550.0     50
84       Italy          HR         sanGiovanniAmphitheater   -330.0     50
85       Italy         RLM        reggioEmiliaAmphitheater    -30.0     50
86       Italy       ACHRL             tharrosAmphitheater   -750.0     50
87       Italy      ACHRLM         romeFlavianAmphitheater   -750.0     69
88       Italy     ACHRRLM     pozzuoliFlavianAmphitheater   -750.0     69
89       Italy      ACHRLM              arezzoAmphitheater   -750.0     69
90       Italy         HRL          urbisagliaAmphitheater   -330.0     69
91       Italy      CHHRLM      terminiImereseAmphitheater   -550.0     69
92       Italy         HRL             bolsenaAmphitheater   -330.0     69
93       Italy       ACHRL       capuaImperialAmphitheater   -750.0     69
94       Italy      ACHRLM            cagliariAmphitheater   -750.0    100
95       Italy          RL      genzanoPrivateAmphitheater    -30.0    100
96       Italy         RLM             portusOvalStructure    -30.0    100
97       Italy      ACHRLM            tusculumAmphitheater   -750.0    100
98       Italy         HRL        hadrianVillaAmphitheater   -330.0    117
99       Italy        CHRL              riminiAmphitheater   -550.0    117
100      Italy      ACHRLM      romeAmphitheatrumCastrense   -750.0    193
101      Italy         RRL        castraAlbanaAmphitheater    -30.0    193
102      Italy       ACHRL             egnaziaAmphitheater   -750.0    200

[103 rows x 5 columns]

In [90]:
pd.read_sql_query('''SELECT  ramphs.modcountry, pleiades.timePeriods, ramphs.id, pleiades.minDate, chronogrps.start
          FROM ramphs, pleiades, chronogrps
          WHERE ramphs.pleiades = pleiades.path AND ramphs.modcountry = "Italy"
          AND ramphs.chronogrp = chronogrps.chronogrp
          AND pleiades.minDate < "323"
          ORDER by chronogrps.start ;''', ramphs_sql)

    modcountry timePeriods                              id  minDate  start
0        Italy      ACHHRM             pompeiiAmphitheater   -750.0    -70
1        Italy       ACHRL               cumaeAmphitheater   -750.0    -70
2        Italy     ACHRRLM       pozzuoliEarlyAmphitheater   -750.0    -70
3        Italy     ACHRLMM             paestumAmphitheater   -750.0    -70
4        Italy         HRL              avellaAmphitheater   -330.0    -70
5        Italy        CHRL             ferentoAmphitheater   -550.0    -70
6        Italy        CHRL             sutriumAmphitheater   -550.0    -70
7        Italy         HRL             telesiaAmphitheater   -330.0    -70
8        Italy       HRLMM           beneventoAmphitheater   -330.0    -70
9        Italy        CHRL        calviRisortaAmphitheater   -550.0    -70
10       Italy       ACHRL     capuaRepublicanAmphitheater   -750.0    -70
11       Italy        HHRR             liternoAmphitheater   -330.0    -70
12       Italy       ACHRL                noleAmphitheater   -750.0    -70
13       Italy      ACHRLM               teanoAmphitheater   -750.0    -70
14       Italy       ACHRL        suessaAruncaAmphitheater   -750.0    -70
15       Italy         HRL          altripaldaAmphitheater   -330.0    -70
16       Italy        CRRL              compsaAmphitheater   -550.0    -70
17       Italy     ACHHRLM            syracuseAmphitheater   -750.0    -27
18       Italy      ACHRLM             roselleAmphitheater   -750.0    -27
19       Italy      CHRLMM              luceraAmphitheater   -550.0    -27
20       Italy          RL              veronaAmphitheater    -30.0    -27
21       Italy        HRLM          albaFucensAmphitheater   -330.0    -27
22       Italy     ACHRRLM               paduaAmphitheater   -750.0    -27
23       Italy        CHRL              anconaAmphitheater   -550.0    -27
24       Italy      ACHRLM     statiliusTaurusAmphitheater   -750.0    -27
25       Italy         HRL  augustaBagiennorumAmphitheater   -330.0    -27
26       Italy         RLM               aostaAmphitheater    -30.0    -27
27       Italy         HRL         faleriiNoviAmphitheater   -330.0    -27
28       Italy        HRRL             velleiaAmphitheater   -330.0    -27
29       Italy         HRL            faleroneAmphitheater   -330.0    -27
..         ...         ...                             ...      ...    ...
73       Italy       HRRLM             spoletoAmphitheater   -330.0     50
74       Italy      ACHRLM               fermoAmphitheater   -750.0     50
75       Italy        HRLM           frosinoneAmphitheater   -330.0     50
76       Italy        ACHR               ruggeAmphitheater   -750.0     50
77       Italy      ACHRRL              canosaAmphitheater   -750.0     50
78       Italy         HRM             sipontoAmphitheater   -330.0     50
79       Italy       CHRLM              chietiAmphitheater   -550.0     50
80       Italy        CHRL               vastoAmphitheater   -550.0     50
81       Italy         HRL               suasaAmphitheater   -330.0     50
82       Italy         RRL            pollenzoAmphitheater    -30.0     50
83       Italy       CHRLM            vercelliAmphitheater   -550.0     50
84       Italy          HR         sanGiovanniAmphitheater   -330.0     50
85       Italy         RLM        reggioEmiliaAmphitheater    -30.0     50
86       Italy       ACHRL             tharrosAmphitheater   -750.0     50
87       Italy      ACHRLM         romeFlavianAmphitheater   -750.0     69
88       Italy     ACHRRLM     pozzuoliFlavianAmphitheater   -750.0     69
89       Italy      ACHRLM              arezzoAmphitheater   -750.0     69
90       Italy         HRL          urbisagliaAmphitheater   -330.0     69
91       Italy      CHHRLM      terminiImereseAmphitheater   -550.0     69
92       Italy         HRL             bolsenaAmphitheater   -330.0     69
93       Italy       ACHRL       capuaImperialAmphitheater   -750.0     69
94       Italy      ACHRLM            cagliariAmphitheater   -750.0    100
95       Italy          RL      genzanoPrivateAmphitheater    -30.0    100
96       Italy         RLM             portusOvalStructure    -30.0    100
97       Italy      ACHRLM            tusculumAmphitheater   -750.0    100
98       Italy         HRL        hadrianVillaAmphitheater   -330.0    117
99       Italy        CHRL              riminiAmphitheater   -550.0    117
100      Italy      ACHRLM      romeAmphitheatrumCastrense   -750.0    193
101      Italy         RRL        castraAlbanaAmphitheater    -30.0    193
102      Italy       ACHRL             egnaziaAmphitheater   -750.0    200

[103 rows x 5 columns]